@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&display=swap');

body{
    margin: 0px;
    font-family: 'Markazi Text', serif;
}

p{
    font-size: 18px;
}

h1{
    font-size: 45px;
}
section{
    height: 680px;
}
.hero-area {
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.special-text {
    color: #EC4C7A;
    margin-top: -24px;
}


.half-width {
    width: 40%;
    float: left;
}

.hero-img img {
    width: 100%;
    margin-left: -32%;
}

.click-btn {
    background: linear-gradient(45deg, #EC4F8E, #EC4B74);
    font-weight: 500;
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 25px;
    border-radius: 3px;
    font-size: 22px;
}

.click-btn:hover{
    background: linear-gradient(145deg,#B1496D, #EC4F8E );
} 
.hero-content {
    margin-left: 19%;
    margin-top: 11%;
}



.biography-area{
    background-image: url(img/biography-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.biography-img img {
    width: 70%;
    margin-left: 30%;
    padding-top: 20%;
}

.biography-content {
    margin-left: 10%;
    margin-top: 15%;
}

.latest-work-area {
    background-image: url(img/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.portfolio-work img {
    width: 29%;
    margin-left: 16px;
   
}
.portfolio-work img:hover {
    box-shadow: 5px 7px 27px grey;
}

.portfolio-work img:hover{
    box-shadow: 5px 7px 27px grey;
    
}

.latest-work-area h1 {
    text-align: center;
    margin-bottom: 67px;
    margin-top: 84px;
}

.portfolio-work {
    margin-left: 80px;
}


.footer-section-area {
    text-align: center;
    font-size: 20px;
    background-image: url(img/footer-bg.png);
    background-size: cover;
    background-position: center;
    margin-top: -171px;
}



.footer-span-content {
    margin-top: 135px;
}


.gray-text {
    margin-top: -17px;
    font-weight: 500;
    color: gray;
}

.contact {
    background: #EC4C7B;
    color: white;
    padding: 24px;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 5px;
    margin-top: 70px;
}

.copyright-text {
    color: gray;
    margin-top: 100px;
}